.history {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.historyRow {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.historyRow img {
    width: 1.5em;
}

.invisible {
    visibility: hidden;
}
