button {
    width: 2.5em;
    height: 2.5em;
    background: #E9E9E9;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    font-size: 1.5em;
    outline: none;
    box-shadow: 0 5px #989898
}

button:active {
    box-shadow: 0 1px #989898;
    transform: translateY(4px);
}