.keyboard {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.8em;
}

button {
    width: 100%;
    height: 100%;
    background: #E9E9E9;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    font-size: 2em;
    outline: none;
    box-shadow: 0 5px #989898
}

button:active {
    box-shadow: 0 1px #989898;
    transform: translateY(4px);
}